@font-face {
  font-family: 'Sora';
  src: local('Sora'),
  url('../src/assets/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 'normal';
  font-style: 'normal';
}

:root {
  font-family: 'Sora', sans-serif;
  background-color: #121212;
}